@CHARSET "UTF-8";

.btnSimple{
	width:50px;
	height:35px;	
}

.box{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin-bottom: 15px;
	background-color: #f5f5f5;
}

.frameBox{
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 15px;
	margin-bottom: 15px;
}
/* ussing for comments */
.comments{
	color: #666666; 
	font-size: 11px;
	margin-bottom:0px;
}

/* for text fields with coments */
.withComments{
	margin-bottom: 0px !important;
}

.hidden{
	display: none !important;
}

@media print{
   	.non-printable { visibility: hidden; }
}

.list-group-item {
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

.list-group-item-active{
	background-color: #428bca;
	color: #fff !important;
}

.list-group-item:first-child {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.list-group-item:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

