/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2014, 2:12:08 AM
    Author     : Svuksic
*/
.zomoverlay{
    
}
/*.zomoverlay:hover{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    z-index: 10;
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 4px;
    text-align: center;    
}*/

.zomoverlay:hover{
    border-color: #3c3c3c;  
}

